.icon-mapmenu-startpoint {
    background: url('../image/mapmenu/StartPoint.png') no-repeat center center;
}

.icon-mapmenu-endpoint {
    background: url('../image/mapmenu/EndPoint.png') no-repeat center center;
}

.icon-mapmenu-addstop {
    background: url('../image/mapmenu/AddStop.png') no-repeat center center;
}

.icon-mapmenu-barpoint {
    background: url('../image/mapmenu/BarPoint.png') no-repeat center center;
}

.icon-mapmenu-aroundfind {
    background: url('../image/mapmenu/AroundFind.png') no-repeat center center;
}

.icon-mapmenu-housing {
    background: url('../image/mapmenu/Housing.png') no-repeat center center;
}

.icon-mapmenu-twoscreen {
    background: url('../image/mapmenu/TwoScreen.png') no-repeat center center;
}

.icon-mapmenu-legend {
    background: url('../image/mapmenu/Legend.png') no-repeat center center;
}

.icon-mapmenu-clear {
    background: url('../image/mapmenu/clear.png') no-repeat center center;
}

.icon-maptool-commontool {
    background: url('../image/maptool/CommonTool.png') no-repeat center center;
}

.icon-maptool-pan {
    background: url('../image/maptool/Pan.png') no-repeat center center;
}

.icon-maptool-print {
    background: url('../image/maptool/print.png') no-repeat center center;
}

.icon-maptool-tool {
    background: url('../image/maptool/Tool.png') no-repeat center center;
}

.icon-maptool-zoomin {
    background: url('../image/maptool/ZoomIn.png') no-repeat center center;
}

.icon-maptool-zoomout {
    background: url('../image/maptool/ZoomOut.png') no-repeat center center;
}

.icon-maptool-point {
    background: url('../image/maptool/Point.png') no-repeat center center;
}

.icon-maptool-line {
    background: url('../image/maptool/Line.png') no-repeat center center;
}

.icon-maptool-rect {
    background: url('../image/maptool/Rect.png') no-repeat center center;
}

.icon-maptool-polygon {
    background: url('../image/maptool/Polygon.png') no-repeat center center;
}

.icon-maptool-circle {
    background: url('../image/maptool/Circle.png') no-repeat center center;
}

.icon-maptool-unfullscreen {
    background: url('../image/maptool/unfullScreen.png') no-repeat center center;
}

.icon-maptool-quickbuild {
    background: url('../image/maptool/quickbuild.png') no-repeat center center;
}

.icon-maptool-vector {
    background-position: -336px -47px;
    background-image: url('../image/l1.png');
}

.icon-maptool-image {
    background-position: -376px -47px;
    background-image: url('../image/l1.png');
}

.icon-import {
    background-position: -208px -71px;
    background-image: url('../image/l1.png');
}

.icon-export {
    background-position: -224px -71px;
    background-image: url('../image/l1.png');
}

.icon-change {
    background-position: -320px -71px;
    background-image: url('../image/l1.png');
}

.icon-home {
    background-position: -144px -71px;
    background-image: url('../image/l1.png');
}

.icon-help {
    background-position: -176px -71px;
    background-image: url('../image/l1.png');
}

.icon-copy {
    background-position: -160px -71px;
    background-image: url('../image/l1.png');
}

.icon-statistic {
    background-position: -288px -71px;
    background-image: url('../image/l1.png');
}

.icon-timeline {
    background-position: -304px -71px;
    background-image: url('../image/l1.png');
}

.icon-timeline {
    background-position: -268px -93px;
    background-image: url('../image/l1.png');
}

.layout-button-shrink {
    margin-top: 5px;
    margin-right: 5px;
    background-position: -256px -71px;
    background-image: url('../image/l1.png');
}

.layout-button-extend {
    margin-top: 5px;
    margin-right: 5px;
    background-position: -240px -71px;
    background-image: url('../image/l1.png');
}


.Dock-Panel-Button-WEST {
    background-image: url('../image/l1.png');
    background-position: -30px -12px;
}

.Dock-Panel-Button-EAST {
    background-image: url('../image/l1.png');
    background-position: -71px -12px;
}

.Dock-Panel-Button-SOUTH {
    background-image: url('../image/l1.png');
    background-position: -155px -12px;
}

.Dock-Panel-Button-NORTH {
    margin-top: 5px;
    margin-right: 5px;
    background-image: url('../image/l1.png');
    background-position: -112px -12px;
}


.icon-Maintence {
    background-image: url('../image/menu/Maintence.png');
}

.icon-SystemManageMenu {
    background-image: url('../image/menu/SystemManageMenu.png');
}

.icon-ResourceView {
    background-image: url('../image/menu/ResourceView.png');
}

.icon-Year {
    background: url('../image/menu/ServerConfig.png') no-repeat center center;
}

.icon-Batch {
    background: url('../image/menu/ResourcBackup.png') no-repeat center center;
}

.icon-Ring {
    background-image: url('../image/l1.png');
    background-position: -582px -4px;
}

.icon-Search {
    background-image: url('../image/l1.png');
    background-position: -617px -6px;
}

.icon-Search34 {
    background-image: url('../image/l1.png');
    background-position: -560px -47px;
}

.icon-Messager-error {
    background-image: url('../image/l1.png');
    background-position: -77px -39px;
}

.icon-Messager-info {
    background-image: url('../image/l1.png');
    background-position: -141px -39px;
}

.icon-Messager-question {
    background-image: url('../image/l1.png');
    background-position: -109px -39px;
}

.icon-Messager-warn {
    background-image: url('../image/l1.png');
    background-position: -173px -39px;
}

.icon-Table-up {
    background-image: url('../image/l1.png');
    background-position: -802px 0px;
}

.icon-Table-down {
    background-image: url('../image/l1.png');
    background-position: -802px -20px;
}

.icon-stat-back {
    background-image: url('../image/l1.png');
    background-position: -852px 0px;
}

.icon-analysis-soil {
    background-image: url('../image/l1.png');
    background-position: -32px -71px;
}

.icon-analysis-crop {
    background-image: url('../image/l1.png');
    background-position: -16px -71px;
}

.icon-analysis-multiple {
    background-image: url('../image/l1.png');
    background-position: -0px -71px;
}

.icon-select-crop {
    background-image: url('../image/l1.png');
    background-position: -48px -71px;
}

.icon-select-soil {
    background-image: url('../image/l1.png');
    background-position: -64px -71px;
}

.icon-select-plant {
    background-image: url('../image/l1.png');
    background-position: -80px -71px;
}

.icon-select-multiple {
    background-image: url('../image/l1.png');
    background-position: -96px -71px;
}

.icon-stat-year {
    background-image: url('../image/l1.png');
    background-position: -128px -71px;
}

.icon-stat-district {
    background-image: url('../image/l1.png');
    background-position: -112px -71px;
}

.icon-nav-assess {
    background-image: url('../image/l1.png');
    background-position: -205px -47px;
}

.icon-nav-newtech {
    background-image: url('../image/l1.png');
    background-position: -229px -47px;
}

.icon-nav-pilotarea {
    background-image: url('../image/l1.png');
    background-position: -253px -47px;
}

.icon-nav-message {
    background-image: url('../image/l1.png');
    background-position: -277px -47px;
}

.icon-nav-tool {
    background-image: url('../image/l1.png');
    background-position: 0px -47px;
}
.icon-nav-SysManage {
    background-image: url('../image/l1.png');
    background-position: -90px -132px;
}
.icon-nav-setting {
    background-image: url('../image/l1.png');
    background-position: -24px -47px;
}

.icon-nav-home {
    background-image: url('../image/l1.png');
    background-position: -48px -47px;
}

.icon-rd-rd-arrow {
    background-position: -416px -47px;
    background-image: url(../image/l1.png);
}

.icon-rd-lu-arrow {
    background-position: -416px -63px;
    background-image: url(../image/l1.png);
}

.icon-ru-ru-arrow {
    background-position: -432px -47px;
    background-image: url(../image/l1.png);
}

.icon-ru-ld-arrow {
    background-position: -432px -63px;
    background-image: url(../image/l1.png);
}

.icon-ld-ld-arrow {
    background-position: -448px -47px;
    background-image: url(../image/l1.png);
}

.icon-ld-ru-arrow {
    background-position: -448px -63px;
    background-image: url(../image/l1.png);
}

.icon-lu-lu-arrow {
    background-position: -460px -47px;
    background-image: url(../image/l1.png);
}

.icon-lu-rd-arrow {
    background-position: -460px -63px;
    background-image: url(../image/l1.png);
}

.icon-arrow-upright {
    background-image: url(../image/l1.png);
    background-position: -852px -24px;
}

.icon-arrow-downleft {
    background-image: url(../image/l1.png);
    background-position: -868px -24px;
}

.icon-arrow-upright-over {
    background-image: url(../image/l1.png);
    background-position: -884px -24px;
}

.icon-arrow-downleft-over {
    background-image: url(../image/l1.png);
    background-position: -900px -24px;
}

.icon-chart-line {
    background-image: url(../image/l1.png);
    background-position: -916px 0px;
}

.icon-checkbox-0 {
    background-image: url(../image/l1.png);
    background-position: -988px 0px;
    background-repeat: no-repeat;
}

.icon-checkbox-1 {
    background-image: url(../image/l1.png);
    background-position: -988px -120px;
    background-repeat: no-repeat;
}

.icon-checkbox-2 {
    background-image: url(../image/l1.png);
    background-position: -988px -60px;
    background-repeat: no-repeat;
}

.icon-checkbox-3 {
    background-image: url(../image/l1.png);
    background-position: -988px 1px;
    background-repeat: no-repeat;
}

.icon-checkbox-4 {
    background-image: url(../image/l1.png);
    background-position: -988px -119px;
    background-repeat: no-repeat;
}

.icon-checkbox-5 {
    background-image: url(../image/l1.png);
    background-position: -988px -59px;
    background-repeat: no-repeat;
}

.icon-textbox-x {
    background-image: url(../image/l1.png);
    background-position: -972px 7px;
    background-repeat: no-repeat;
}

.icon-combobox1 {
    background-image: url(../image/l1.png);
    background-position: -301px -61px;
    background-repeat: no-repeat;
}

.icon-combobox2 {
    background-image: url(../image/l1.png);
    background-position: -301px -64px;
    background-repeat: no-repeat;
}

.icon-combobox3 {
    background-image: url(../image/l1.png);
    background-position: -301px -67px;
    background-repeat: no-repeat;
}

.icon-combobox4 {
    background-image: url(../image/l1.png);
    background-position: -306px -61px;
    background-repeat: no-repeat;
}

.icon-combobox5 {
    background-image: url(../image/l1.png);
    background-position: -306px -64px;
    background-repeat: no-repeat;
}

.icon-combobox6 {
    background-image: url(../image/l1.png);
    background-position: -306px -67px;
    background-repeat: no-repeat;
}

.icon-addcss24 {
    background-position: -0px -89px;
    background-image: url(../image/l1.png);
}

.icon-refresh24 {
    background-position: -73px -89px;
    background-image: url(../image/l1.png);
}

.icon-clear24 {
    background-position: -24px -89px;
    background-image: url(../image/l1.png);
}

.icon-save24 {
    background-position: -49px -89px;
    background-image: url(../image/l1.png);
}

.icon-x14 {
    background-position: -871px -3px;
    background-image: url(../image/l1.png);
}

.icon-doc20 {
    background-position: -480px -47px;
    background-image: url(../image/l1.png);
}

.icon-xls20 {
    background-position: -500px -47px;
    background-image: url(../image/l1.png);
}

.icon-ppt20 {
    background-position: -520px -47px;
    background-image: url(../image/l1.png);
}

.icon-pdf20 {
    background-position: -480px -67px;
    background-image: url(../image/l1.png);
}

.icon-txt20 {
    background-position: -500px -67px;
    background-image: url(../image/l1.png);
}

.icon-img20 {
    background-position: -520px -67px;
    background-image: url(../image/l1.png);
}

.icon-def20 {
    background-position: -540px -47px;
    background-image: url(../image/l1.png);
}

.icon-draw-rect {
    background-position: -196px -93px;
    background-image: url(../image/l1.png);
}

.icon-draw-polygon {
    background-position: -220px -93px;
    background-image: url(../image/l1.png);
}

.icon-draw-circle {
    background-position: -244px -93px;
    background-image: url(../image/l1.png);
}

.icon-dynamic-up {
    background-image: url(../image/l1.png);
    background-position: -416px -63px;
}

.icon-dynamic-down {
    background-image: url(../image/l1.png);
    background-position: -416px -47px;
}


.icon-tip-close {
    background-position: -292px -93px;
    background-image: url(../image/l1.png);
}

.icon-dj-down {
    background-position: -95px -90px;
    background-image: url(../image/l1.png);
}

.icon-datacompare {
    background-position: 0px -113px;
    background-image: url(../image/l1.png);
}


.icon-timeline-stop {
    background-position: -15px -113px;
    background-image: url(../image/l1.png);
}

.icon-timeline-play {
    background-position: -32px -113px;
    background-image: url(../image/l1.png);
}

.icon-v-shot {
    background-position: -48px -113px;
    background-image: url(../image/l1.png);
}

.icon-h-shot {
    background-position: -64px -113px;
    background-image: url(../image/l1.png);
}

.icon-radio-0 {
    background-position: -430px -33px;
    background-image: url(../image/l1.png);
}

.icon-radio-1 {
    background-position: -446px -33px;
    background-image: url(../image/l1.png);
}

.icon-calendar {
    background-position: -80px -113px;
    background-image: url(../image/l1.png);
}

.icon-area {
    background-position: -96px -113px;
    background-image: url(../image/l1.png);
}

.icon-element {
    background-position: -112px -113px;
    background-image: url(../image/l1.png);
}

.icon-grid {
    background-position: -128px -113px;
    background-image: url(../image/l1.png);
}

.icon-type {
    background-position: -144px -113px;
    background-image: url(../image/l1.png);
}

.icon-bag {
    background-position: -80px -113px;
    background-image: url(../image/l1.png);
}

.icon-arrow-down {
    /*background-position: -176px -113px;
    background-image: url(../image/l1.png);*/
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/agri/arrowdown.png);
}

.icon-arrow-up {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../image/agri/arrowup.png);
    /*background-position: -192px -113px;
    background-image: url(../image/l1.png);*/
}

.icon-maptool-layer {
    background-position: -208px -113px;
    background-image: url(../image/l1.png);
}

.icon-maptool-layer1 {
    background-position: -224px -113px;
    background-image: url(../image/l1.png);
}

.icon-maptool-fullscreen {
    background-image: url(../image/maptool/fullscreen.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -240px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-fullscreen1 {
    background-image: url(../image/maptool/fullscreen1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -256px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-tool {
    background-image: url(../image/maptool/tool.png);
    background-repeat: no-repeat;
    background-position: center;
    /*background-position: -272px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-tool1 {
    background-image: url(../image/maptool/tool1.png);
    background-repeat: no-repeat;
    background-position: center;
    /*background-position: -288px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-arrow {
    background-position: -464px -36px;
    background-image: url(../image/l1.png);
}

.icon-help40x30 {
    background-position: -597px -47px;
    background-image: url(../image/l1.png);
}

.icon-maptool-fullmap {
    background-image: url(../image/maptool/fullmap.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -304px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-fullmap1 {
    background-image: url(../image/maptool/fullmap1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -320px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-measuredistance {
    background-image: url(../image/maptool/measuredistance.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -336px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-measuredistance1 {
    background-image: url(../image/maptool/measuredistance1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -352px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-measurearea {
    background-image: url(../image/maptool/measurearea.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -368px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-measurearea1 {
    background-image: url(../image/maptool/measurearea1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -384px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-clearmap {
    background-image: url(../image/maptool/clearmap.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -400px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-clearmap1 {
    background-image: url(../image/maptool/clearmap1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -416px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-unfullscreen {
    background-image: url(../image/maptool/unfullScreen.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -432px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-unfullscreen1 {
    background-image: url(../image/maptool/unfullscreen1.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: -448px -113px;
    background-image:url(../image/l1.png);*/
}

.icon-maptool-pointquery {
    background-image: url(../image/maptool/pointquery.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-maptool-pointquery1 {
    background-image: url(../image/maptool/pointquery1.png);
    background-position: center;
    background-repeat: no-repeat;
}
