<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DBType" value="Oracle" />
    <add key="Secret" value="8B4F4CAD" />
    <add key="LogPath" value="" />
    <add key="LogConfig" value="config\log4net4.xml" />
    <add key="PreviewFloder" value="preview" />
    <add key="DefaultUploadPath" value="upload/" />
    <add key="Token" value="00000000-0000-0000-0000-000000000000" />
    <add key="Uri:Test" value="http://192.168.1.240/" />
    <add key="Path:Test" value="C:\inetpub\wwwroot\" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="10485760" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="PostgreSQL" connectionString="Server=192.168.1.235;Port=5433;User Id=postgres;Password=123456;Database=ktw_webframe;" providerName="Npgsql" />
  </connectionStrings>
  <system.webServer>
    <!--添加一个URL路由模块-->
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".sld" mimeType="text/plain" />
      <mimeMap fileExtension=".properties" mimeType="text/plain" />
      <clientCache cacheControlMode="NoControl" />
    </staticContent>
  </system.webServer>
</configuration>